*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{background: url('./img/sky-space.webp');}
h1{color: yellow;}
.container{
    display: grid;
    justify-items: center;
    align-content: center;
    gap: .5em;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    background: url('./img/java-starwars.png');
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
}
button{
    width: 40%;
    padding: 1em;
    color: white;
    border-radius: .25em;
    box-shadow: 3px 3px red;
    outline: none;
    background-color: black;
}
.quote{
    width: 80%;
    background-color: white;
    padding: 2em;
    border-radius: .5em;
}